/*   reset  css  start */

/* 所有元素和伪元素都被选中 */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    /* 移动端特殊处理 */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* 点击后的高亮清除 */
    -webkit-tap-highlight-color: transparent;
}

body {
    font-size: 14px;
    font-family: "Microsoft YaHei" , "sans-serif";
    color: #333;
}

ul , ol {
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

input , textarea {
    border: none;
    outline: none;
    /* 不允许修改尺寸 */
    resize: none;
    -webkit-appearance: none;
}


/*   reset  css  end   */

/*   common css  start  */
.f_left{
    float: left;
}

.f_right {
    float: right;
}

.clearfix::before,
.clearfix::after{
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}

.m_l10{
    margin-left: 10px;
}

.m_r10 {
    margin-right: 10px;
}

.m_t10 {
    margin-top: 10px;
}

.m_b10 {
    margin-bottom: 10px;
}


/* 精灵图的公用样式 */
[class^="icon_"],[class*="icon_"]{
    background-repeat: no-repeat;
    background-image: url(../images/sprites.png);
    background-size: 200px 200px;
}